.underline{
    margin:auto;
    width:40%;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    color: #505a5b;
    font-size: 6rem;
    font-weight: 800;
    margin: auto;
}


.bgimg {
    background-image: url('../../images/backgroundImage.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#icon{
    color: #94b0da;
}

#bgOverlay{
    background: rgba(148, 176, 218, 0.2);
    height: 100vh;
    width: 100vw;
}